.wd-left-v-border {
    border-left: 1px solid lightgray;
    margin-left: 16px;
}
.wd-bookmarks {
    margin-top: 12px;
    margin-left: 16px;
}
.wd-bookmarks-title {
    font-size: 20px;
    color: white;
    margin-left: 16px;
}
.wd-bookmarks-handle {
    font-size: 13px;
    color: lightgray;
    margin-left: 16px;
}
.wd-h-border {
    border-bottom: 1px solid lightgray;
    margin-top: 12px;
}
.wd-float-done {
    clear: both;
}
.wd-avatar-image {
    border: 0px;
    border-radius: 50%;
    width: 48px;
    margin-top: 12px;
    margin-left: 16px;
    float: left;
}
.wd-post {
    float: left;
    margin-top: 12px;
    margin-left: 12px;
}
.wd-name {
    font-size: 15px;
    color: white;
}
.wd-name-handle {
    font-size: 15px;
    color: lightgray;
}
.wd-post-main {
    color: white;
    font-size: 15px;
    max-width: 506px;
    margin-right: 16px;
}
.wd-main-image {
    width: 504px;
    height: 264px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-right: 16px;
    margin-top: 12px;
}
.wd-padded-text {
    border: solid lightgray 1px;
    padding: 12px;
    max-width: 478px;
    margin-top: -4px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.wd-padded-title {
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.wd-padded-text-content {
    font-size: 15px;
    color: lightgray;
}
.wd-icons {
    display: flex;
    max-width: 478px;
    padding: 0px;
}
.wd-icons li {
    display: inline-block;
    color: lightgray;

}
.wd-icons-symbol {
    width: 10%;
}
.wd-icons-text {
    margin-left: 12px;
}
.wd-icons-red-text {
    margin-left: 12px;
    color: red;
}
